<h1>Add a new photo</h1>

<form action="/create_photo">
    
        <label for="url"> Image URL </label>
        <input id="url" type="text" name="the_source">
    <p>
        <label for="caption"> Caption </label>
        <input id="caption" type="text" name="the_caption">
    </p>
    
    <button>Create Photo</button>
</form>

